.root {
  width: 100%;

  h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 34px;
  }
}

.containerViewCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.containerViewLists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
