@import "./abstracts/_variables.scss";
@import "./abstracts/_mixin.scss";

.footer {
    @include flex(center, center, column);
    margin-top: 42px;
    padding: 35px;
    background-color: #000000;
    color: $btn-color;
    text-align: center;

    @media (min-width: $bp-tablet) {
        padding: 57px 138px 57px 118px;
        margin-top: 50px;
    }

    h1 {
        color: #FEFEFE;
    }

    p {
        color: #B9B9B9;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    p:nth-of-type(1) {
        margin-top: 8px;

        @media (min-width: $bp-tablet) {
            margin-top: 22px;
            font-size: 16px;
            line-height: 28px;
        }
    }

    p:nth-of-type(2) {
        @include flex(center, center, column);
        margin-top: 25px;
        font-size: 14px;
        line-height: 24px;

        @media (min-width: $bp-tablet) {
            margin-top: 34px;
            font-size: 16px;
            line-height: 26px;

            @include flex(center, center, row);
        }
    }

    img {
        width: 192px;
        height: 34px;
        margin-top: 25px;

        @media (min-width: $bp-tablet) {
            margin-top: 37px;
        }
    }
}

.footer__discription--disaibled {
    display: none;

    @media (min-width: $bp-tablet) {
        display: inline;
    }
}