@import "./abstracts/_variables.scss";
@import "./abstracts/_mixin.scss";

.header {
    margin: 0 auto;
    padding: 0 28px;

    @media (min-width: $bp-tablet) {
        padding: 0;
        max-width: 768px;
    }

    @media (min-width: $bp-desktop) {
        padding: 0;
        max-width: 1200px;
    }

}

.header__menu {
    padding: 23px 0;
    text-align: right;

    @media (min-width: $bp-tablet) {
        @include flex;
        padding: 42px 0;
    }

    @media (min-width: $bp-desktop) {
        padding: 42px 0 51px;
    }
}

.header__button-menu {
    position: relative;

    @media (min-width: $bp-tablet) {
        display: none;
        position: static;
    }
}

.header__banner {
    img {
        width: 100%;
    }
}

.header__links {
    width: 182px;
    position: absolute;
    right: 28px;

    @media (min-width: $bp-tablet) {
        position: static;
        gap: 34px;
    }
}

.header__links--displaied,
.header__btn-icon-burger--disaibled,
.header__btn-icon-close--disaibled {
    display: none;
}

.header__links--displaied {
    @media (min-width: $bp-tablet) {
        @include flex;
    }
}

.header__btn-icon-burger {
    position: relative;
}

.header__btn-icon-close {
    position: absolute;
    left: 14px;
    top: 10px;
}

.header__item {
    padding: 8px 13px;
    text-align: left;
    background-color: #F5F5F5;
    white-space: nowrap;

    @media (min-width: $bp-tablet) {
        padding: 0;
    }

    &:hover {
        background-color: #E5E5E5;

        @media (min-width: $bp-tablet) {
            background-color: white;
        }
    }
}

.header__link {
    text-decoration: none;
    color: $main-color;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
}

.header__link--active {
    color: #57A4A4;
}