@import "./abstracts/_variables.scss";
@import "./abstracts/_mixin.scss";

.instagram-shot {
    margin: 0 auto;
    padding: 0 28px;


    @media (min-width: $bp-tablet) {
        padding: 0;
        max-width: 768px;
    }

    @media (min-width: $bp-desktop) {
        max-width: 1200px;
    }

    a {
        text-decoration: none;
        color: $main-color;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        display: none;

        @media (min-width: $bp-tablet) {
            display: block;
        }
    }
}

.instagram-shot__title {
    margin-top: 78px;
    @include flex(flex-start, center, row);

    @media (min-width: $bp-tablet) {
        margin-top: 107px;
        @include flex(space-between, center, row);
    }

    @media (min-width: $bp-tablet) {
        margin-top: 116px;
    }
}

.instagram-shot__wrapper {
    margin-top: 13px;
    @include flex (flex-start, center, row);
    gap: 10px;

    @media (min-width: $bp-tablet) {
        justify-content: space-between;
        margin-top: 35px;
    }

    @media (min-width: $bp-desktop) {
        margin-top: 24px;
    }

    img {
        max-width: 301px;

        @media (min-width: $bp-tablet) {
            max-width: 250px;
        }

        @media (min-width: $bp-desktop) {
            max-width: 285px;
        }
    }
}

.instagram-shot__tablet--diseibled,
.instagram-shot__desktop--diseibled {
    display: none;
}

.instagram-shot__tablet--diseibled {
    @media (min-width: $bp-tablet) {
        display: block;
    }
}

.instagram-shot__desktop--diseibled {
    @media (min-width: $bp-desktop) {
        display: block;
    }
}