@import "./abstracts/_variables.scss";
@import "./abstracts/_mixin.scss";

.recent-posts {
    margin: 38px auto 0;
    padding: 0 28px;

    @media (min-width: $bp-tablet) {
        margin-top: 56px;
        padding: 0;
        max-width: 768px;
    }

    @media (min-width: $bp-desktop) {
        margin-top: 66px;
        padding: 0;
        max-width: 1200px;
    }
}

.recent-posts__conteiner {
    margin-top: 23px;
    @include flex (center, flex-start, column);
    gap: 28px;

    @media (min-width: $bp-tablet) {
        gap: 32px;
    }

    @media (min-width: $bp-desktop) {
        @include flex(space-between, flex-start, row);
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 25px;
    }
}

.recent-posts__card {
    @include flex(center, flex-start, column);

    max-width: 560px;

    h2 {
        margin-top: 11px;
    }

    img {
        width: 100%;
        max-width: 160px;
    }

    p {
        font-weight: 400;
    }

    p:nth-of-type(1) {
        font-size: 11px;
        line-height: 20px;
        color: #7C7C7C;

        @media (min-width: $bp-tablet) {
            font-size: 12px;
        }
    }

    p:nth-of-type(2) {
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        display: none;

        @media (min-width: $bp-tablet) {
            display: block;
        }
    }

    @media (min-width: $bp-tablet) {
        @include flex(center, flex-start, row);
        gap: 21px;

        h2 {
            margin-top: 0;
        }
    }
}

.recent-posts__card--diseibled {
    display: none;

    @media (min-width: $bp-tablet) {
        @include flex(center, flex-start, row);
    }

}