@import "./abstracts/_variables.scss";

body {
    font-family: 'Roboto';
    color: $main-color;
}

.btn {
    background-color: #000000;
    color: $btn-color;
    width: 44px;
    height: 37px;
    border: none;
    cursor: pointer;
}

h1,
h2 {
    font-weight: 700;
    font-size: 14px;

    @media (min-width: $bp-tablet) {
        font-size: 16px;
    }
}

h1 {
    line-height: 22px;
    text-transform: uppercase;
}

h2 {
    line-height: 30px;
}