body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header {
    background-image: url('../img/Sections background/section-1\(header\).jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 1012px;
}

.header-menu {
    width: 1920px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding: 0px 380px;
    background: rgba(94, 93, 88, 0.6);
    color: inherit;
    position: fixed;
    top: 0;
    z-index: 3;
}

.header-logo {
    display: flex;
    font-weight: 700;
    Font-size: 32px;
    line-height: 48px;
    color: inherit;
    padding-top: 26px;
}

.header-logo-h {
    width: 58px;
    height: 67px;
    text-align: center;
    padding-top: 8px;
    background-repeat: no-repeat;
    background-image: url('../img/Logo.png');
    cursor: pointer;
}

.header-logo-text {
    margin: 10px 6px 10px 6px;
    cursor: pointer;
}

.header-logo-left {
    font-weight: 400;
}

.header-logo-ridht {
    font-weight: 700;
    color: #18CFAB;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 21px;
    color: inherit;
    align-items: center;
    margin-top: 50px;
}

.navigation-item {
    font-weight: 700;
    Font-size: 16px;
    line-height: 24px;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation-item svg {
    fill: rgba(255, 255, 255, 0.6);
}

.navigation-item:hover,
.navigation-item:hover svg {
    color: #18CFAB;
    fill: #18CFAB;
}

.header-text {
    text-align: center;
    padding-top: 380px;
}

.header-text-small,
.header-text-main {
    font-weight: 700;
    text-transform: uppercase;
}

.header-text-main {
    font-size: 78px;
    margin-top: 22px;
}

.header-text-small {
    Font-size: 35px;
}

.header-text-small span {
    color: #18CFAB;
}

.header-text-p {
    Font-size: 34px;
    margin-top: 22px;
    font-weight: 400;
    color: #D4D4D4;
}

.button-conteiner {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 134px;
}

.btn {
    width: 169px;
    height: 63px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.98);
}

.btn-explore-now {
    background-color: #18CFAB;
}

.btn-purchase-now {
    background-color: #00CBF6;
}

.header-block-cards {
    display: flex;
    height: 377px;
    margin-top: 8px;
}

.header-card {
    display: flex;
    width: 482px;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    align-items: center;
}

.header-card-type-one {
    padding-top: 95px;
    color: #18CFAB;
    background-color: #1C2A33;
    gap: 47px;
}

.header-card-type-two {
    padding-top: 105px;
    color: #FFFFFF;
    background-color: #18CFAB;
    gap: 47px;
}

/* -----------------------------------------------------------------2--Our Services-------------------------------------------------------- */

.section-second,
.section-fifth,
.section-sixth-content,
.section-seventh {
    margin: 0 auto;
    width: 1160px;
    padding-top: 83px;
    padding-bottom: 91px;
    text-align: center;
}

.our-services,
.our-amazing-work {
    color: #4E4E4E;
}

.our-services-title,
.our-amazing-work-title,
.breaking-news-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.line {
    background-color: #18CFAB;
    width: 76px;
    height: 1px;
}

.line-one {
    margin-left: 536px;
    margin-top: 26px;
}

.line-two {
    margin-left: 547px;
    margin-top: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.our-services-tabs-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 23px;
}

.our-services-tabs {
    display: flex;
    margin-top: 70px;
}

.tabs-title {
    box-sizing: border-box;
    width: 192px;
    height: 72px;
    padding: 16px;
    font-size: 16px;
    line-height: 39px;
    background-color: white;
    cursor: pointer;
}

.tabs-title:hover {
    border: 1px solid #18CFAB;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.tabs-title.active::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid #18CFAB;
    border-right: 23px solid transparent;
    border-left: 23px solid transparent;
    position: absolute;
    top: 70px;
    right: 70px;
}

.content-item-img {
    width: 192px;
    height: 139px;
}

.js-content-item-active {
    display: flex;
    gap: 15px;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    line-height: 146%;
    text-align: left;
    align-items: center;
}

.js-content-item-disactive {
    display: none;
}

/* ------------------------------------------------------------3---Everything is ready. just buy and install now---------------------------------------------- */

.everything-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 476px;
    margin: 0 auto;
    background-image: url('../img/Sections background/section-3.jpg');
    background-position-y: -380px;
    z-index: 0;
}

.everything-banner-black {
    position: absolute;
    width: 1920px;
    height: 476px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    z-index: 1;
}

.everything-banner-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    line-height: 83%;
    text-align: center;
    color: #18CFAB;
    padding-top: 127px;
    z-index: 2;
}

.everything-banner p {
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    line-height: 205%;
    color: #D8D8D8;
    z-index: 2;
}

.everything-banner button {
    margin-top: 83px;
    background-color: #18CFAB;
    z-index: 2;
}

/* --------------------------------------------------------------4---Our Amazing Work--------------------------------------------- */

.setion-fourth {
    margin: 0 auto;
    width: 1920px;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 100px;
    background-color: #E9EDEF;
}

.line-one-type-two {
    margin-left: 915px;
    margin-top: 26px;
}

.line-two-type-two {
    margin-left: 928px;
    margin-top: 5px;
}

.our-amazing-work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.our-amazing-work-tabs {
    display: flex;
    box-sizing: border-box;
    margin-top: 70px;
    width: 582px;
    justify-content: center;
    align-items: center;
}

.tabs-second-title {
    color: #717171;
    padding: 14px;
    font-size: 14px;
    line-height: 26px;
    background-color: rgba(0, 0, 0, 0.0001);
    cursor: pointer;
    border: 2px solid #dadada;
}

.tabs-second-title:not(:first-child) {
    border-left: none
}

.tabs-second-title:nth-child(1) {
    padding-left: 28px;
    padding-right: 28px;
}

.tabs-second-title.active {
    border: 2px solid #18CFAB;
}

.our-amazing-work-cards-lab {
    margin-top: 70px;
    display: flex;
    gap: 1px;
    width: 1160px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.our-amazing-work-flip-card {
    font-family: sans-serif;
    cursor: pointer;
    background-color: transparent;
    width: 285px;
    height: 211px;
    perspective: 600px;
}

.our-amazing-work-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 800ms ease-out;
    transform-style: preserve-3d;
}

.our-amazing-work-flip-card-front,
.our-amazing-work-flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.our-amazing-work-flip-card-back {
    box-sizing: border-box;
    border-top: 2px solid #18CFAB;
    background-color: #E9EDEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
    transform: rotateY(180deg);
}

.our-amazing-work-flip-card-back-p1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    margin-top: 24px;
    color: #18CFAB;
    text-transform: uppercase;
}

.our-amazing-work-flip-card-back-p2 {
    margin-top: 12px;
    color: rgba(138, 138, 138, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.show-card-back {
    transform: rotateY(180deg);
}

.btn-load-more {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    font-size: 14px;
    line-height: 42px;
    margin-top: 70px;
}

/* -------------------------------------------------------Loader------------------------------------------------------------------ */
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    display: none;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #18CFAB;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* --------------------------------------------------5-Breaking News---------------------------------------------------- */

.section-fiveth {
    padding-bottom: 128px;
}

.breaking-news-title {
    color: #4E4E4E;
    text-align: center;
}

.breaking-news-cards-conteiner {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 35px;
}

.breaking-news-card {
    width: 263px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
}

.breaking-news-card-title {
    padding-left: 15px;
    margin-top: 5px;
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
}

.breaking-news-card-coment {
    padding-left: 15px;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
}

.breaking-news-card:hover .breaking-news-card-title {
    color: #18CFAB;
}

.breaking-news-card:hover .square {
    background-color: #18CFAB;
}

.square {
    width: 70px;
    height: 69px;
    background-color: #203E38;
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding-top: 16px;
    top: 0px;
    right: 0px;
}

/* ------------------------------------------------------------------6--What People Say About theHam---------------------------------------------------- */
.section-sixth {
    min-height: 853px;
    background-image: url('../img/Sections background/section-6.jpg');
    background-position-y: -150px;
}

.section-sixth-content {
    padding-top: 98px;
    padding-bottom: 104px;
}

.section-sixth-title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.section-sixth-content svg {
    margin-top: 66px;
}

.section-sixth-paragraph {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-top: 36px;
    opacity: 1;
}

.slaider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
}

.slaider-name-person {
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    opacity: 1;
}

.slaider-spesiality-person {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    margin-top: 10px;
    opacity: 1;
}

.photo-person {
    box-sizing: border-box;
    margin-top: 38px;
    width: 166px;
    height: 166px;
    border: 13px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    overflow: hidden;
    transition: 500ms ease-out;
    opacity: 1;
}

.photo-person img {
    width: 143px;
    height: 143px;
}

.slaider-persons {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-top: 51px;
    gap: 0px;
}

.photos-small-conteiner {
    overflow: hidden;
    height: 85px;
    width: 400px;
}


.photo-small-wrapper {
    display: flex;
    transition: 500ms ease-out;
    height: 85px;
    align-items: flex-end;
    width: 1500px;
}

.wrapper-slide {
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: flex-end;
    transition: transform 500ms;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    overflow: hidden;
}

.wrapper-slide:hover {
    transform: translateY(-15px);
}

.activity {
    transform: translateY(-15px);
}

.moving-photo {
    width: 62px;
    height: 62px;
}

.btn-slaider {
    width: 31px;
    height: 31px;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    border: 1px solid #BBBBBB;
    padding: 8px 10px;
    align-self: center;
    margin-top: 12px;
}

.btn-slaider svg {
    margin: 0 auto;
}

.btn-slaider:hover,
.btn-slaider:hover svg>path {
    background-color: #18CFAB;
    border: none;
    fill: #ffffff;
}

/* -------------------------------------------------------------------------7-best-images-------------------------------------------------- */

.section-seventh {
    padding-top: 108px;
    padding-bottom: 80px;
}

.gallery-best-images-conteiner {
    margin-top: 83px;

}

.grid {
    background: #ffffff;
    max-width: 1160px;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    box-sizing: border-box;
    float: left;
    width: 378px;
    height: 263px;
    position: relative;
}

.grid-item--width2 {
    width: 180px;
}

.grid-item--width3 {
    width: 124px;
}

.grid-item--width4 {
    width: 119px;
}

.grid-item--width5 {
    width: 115px;
}

.grid-item--width6 {
    width: 363px;
}

.grid-item--marginLeft20 {
    margin-left: 20px;
}

.grid-item--marginLeft3 {
    margin-left: 3px;
}

.grid-item--marginBottom20 {
    margin-bottom: 20px;
}

.grid-item--marginBottom16 {
    margin-bottom: 16px;
}

.grid-item--marginBottom3 {
    margin-bottom: 3px;
}

.grid-item--height2 {
    height: 380px;
}

.grid-item--height3 {
    height: 168px;
}

.grid-item--height4 {
    height: 92px;
}

.grid-item--height5 {
    height: 247px;
}

.grid-item--height6 {
    height: 373px;
}

.grid-item--height7 {
    height: 290px;
}

.grid-item--height8 {
    height: 254px;
}

.covered-grid-item {
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.covered-grid-item-hover {
    opacity: 1;
}

.btn-picture {
    display: flex;
    justify-content: space-between;
    width: 75px;
    height: 27px;
}

.btn-picture a {
    display: block;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    background-color: #14B9D5;
    padding-top: 5px;
}

.btn-picture:nth-child(1) svg {
    fill: #FFFFFF;
}

.btn-load-more.best-images {
    margin: 0 auto;
    margin-top: 52px;
    display: block;    
}

#galary {
    width: 1160px;
    margin-top: 50px;
    padding: 0;
}

.sizer {
    width: 290px;
}

.item-masonry {
    width: 290px;
    height: auto;
    display: block;
}

/* -----------------------------------------------------footer------------------------------------------------ */
.footer {
    background-color: #22353F;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 48px 0;
    text-align: center;
}

.footer span {
    color: #18CFAB;
}