body {
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 58px;
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
    color: inherit;
}

.header-logo {
    align-self: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: inherit;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 25px;
    color: inherit;
    align-items: center;
}

.navigation li:last-child {
    padding-left: 25px;
    font-size: 14px;
    line-height: 14px;
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}

.klick:hover,
.klick:hover path {
    color: #236d47;
    fill: #236d47;
}


.form {
    width: 444px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 31px 60px 38px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 29px;
}

.form-name {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form h2 {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}

.form a {
    display: inline-block;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    padding-top: 2px;
}

.form-title::before {
    content: "";
    background-color: #3CB878;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -60px;
}

.form-button-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    gap: 6px;
}

.btn {
    width: 160px;
    height: 48px;
    display: flex;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.facebook {
    background-color: #305DB8;
}

.facebook:hover {
    background-color: #022263;
}

.facebook svg {
    height: 29px;
    padding-right: 18px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.google {
    background-color: #DF4A32;
    padding-right: 27px;
}

.google:hover {
    background-color: #AB1F09;
}

.google svg {
    height: 29px;
    padding-right: 7px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
}


.form a:hover {
    color: #01813F;
}

.or {
    color: #848484;
    text-align: center;
    margin-top: 31px;
    line-height: 14px;
    position: relative;
    
}

.or::before{
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    left: 0px;
    top: 8px;
}


.or::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    right: 0;
    top: 8px;
}

.input {
    box-sizing: border-box;
    display: block;
    width: 322px;
    border-radius: 4px;
    border: none;
    padding: 15px 19px;
    margin-top: 12px;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}

.input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}


/* .input:hover::placeholder {
    color: #434343;
}

.input:hover {
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.21);
} */

.input:focus {
    outline-style: none;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.21);
    transition: 0.5s;
}

.input:focus::placeholder {
    color: #434343;
}



.label-checkbox {
    color: #434343;
    margin-top: 12px;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    width: fit-content;
    margin-left: 26px;
}


.input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.input-checkmark {
    display: block;
    width: 15px;
    height: 20px;
    /* border: 1px solid grey; */
    border-radius: 3px;
    position: absolute;
    left: -26px;
}

.label-checkbox input:checked~.input-checkmark {
    background-image: url('../img/mark.svg');
    background-repeat: no-repeat;
}

.button-create-account {
    background-color: #3CB878;
    height: 46px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    padding: 0;
}

.button-create-account:hover {
    background-color: #01813F;
}