.wrapperModal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    .modal {
        display: flex;
        width: 50vw;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
        border-radius: 12px;
     

        .header {
            display: flex;
            box-sizing: border-box;
            width: inherit;
            padding: 20px 20px;
            justify-content: space-around;
            align-items: center;

            .title {
                font-weight: 700;
                font-size: 30px;
            }
        }

        .conteiner {
            box-sizing: border-box;
            width: inherit;
            padding: 20px 20px;

            p {
                font-size: 20px;
                margin-top: 15px;
            }

            .btnWrapper {
                display: flex;
                margin-top: 20px;
                justify-content: space-around;
            }
        }
    }
}

.active {
    opacity: 1;
    pointer-events: all;
}