.wrapper {
    width: 1366px;
    margin: 0 auto;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
    color: #FFFFFF;
}

.conteiner {
    width: 1030px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 8px;
    margin-top: 56px;
    margin-bottom: 22px;
    text-decoration: none;
    color: inherit;
}

.logo:hover .logo-img {
    background-image: url('../img/logo2.png');
}

.logo-img {
    width: 53px;
    height: 47px;
    background-image: url('../img/logo1.png');
}

.logo:hover,
.contacts-item:hover {
    color: #F26522;
}

.logo-item {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.logo-item-1 {
    font-size: 29px;
    line-height: 29px;
}

.logo-item-2 {
    font-size: 18px;
    line-height: 18px;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    padding-bottom: 17px;
    gap: 19px;
}

.contacts-item {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 263px);
    row-gap: 37px;
    column-gap: 64px;
}

.galery-tours a {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: inherit;
}

.galery-tours {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.galery-tours img {
    height: 220px;
    margin-bottom: 20px;
}

.galery-image {
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid;
    border-image: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%) 60;
}

.galery-image-1 {
    background-image: url('../img/image-1.jpg');
}

.galery-image-2 {
    background-image: url('../img/image-2.jpg');
}

.galery-image-3 {
    background-image: url('../img/image-3.jpg');
}

.galery-image-4 {
    background-image: url('../img/image-4.jpg');
}

.galery-image-5 {
    background-image: url('../img/image-5.jpg');
}

.galery-image-6 {
    background-image: url('../img/image-6.jpg');
}

.galery-tours:hover {
    color: #F26522;
}

.galery-tours:hover .galery-click {
    transition: 1s;
    opacity: 1;
    transform: translateY(0);
}

.galery-click {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(55px);
}

.galery-click div,
.galery-click-item-3 {
    padding: 0 16px 12px 16px;

}

.galery-click div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7px;

}

.galery-click-item-1 {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    text-align: left;
}

.galery-click-item-3 {
    padding-top: 29px;

}

.galery-click-item-2::before {
    content: "\20AC";
}

.galery-click-item-3::after {
    content: "\276F";
    margin-left: 16px;
}

.footer {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    padding: 49px 0 15px 0;
    vertical-align: center;
}