ul,
ol,
span,
p,  {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.conteiner {
    font-family: 'Roboto';
    margin: 0 auto;
    width: 1280px;
}


.header-title {
    display: inline-block;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    cursor: pointer;
    margin-top: 63px;
    margin-bottom: 0;
}

.header-title span {
    color: #4BCAFF;
}

.header-navigation {
    margin-top: 40px;
    background-color: #35444F;
}

.header-navigation ul {
    display: flex;
    justify-content: center;
}

.header-navigation a {
    display: block;
    padding: 24px 35px 16px 35px;
    border-left: 1px solid white;
}

.header-navigation a:nth-last-child(1) {
    border-right: 1px solid white;
}

.header-navigation li:hover {
    background-color: #222F3A;
}

.header-navigation-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;   
    text-decoration: none;
    cursor: pointer;
}

.main {
    margin-top: 49px;
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    width: 344px;
    border: 1px solid #000000;
}

.main-navigation ul,
.main-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main-navigation a {
    display: block;
    padding: 26px 0px 26px 44px;
}

.main-navigation li:hover {
    background-color: #DBDBDB;
    padding-left: 50px;
}

.main-navigation-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    cursor: pointer;
}

.main-content {
    width: 885px;
    row-gap: 35px;
}

.main-logo {
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: transform 0.25s; 
}

.main-logo-img:hover {
    transform: scale(1.1);
}

.main-paragraph {
    /* margin-top: 35px; */
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;  
}

.footer {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
}

.footer ul{
    display: flex;
    column-gap: 25px;
    margin: 0;
    padding: 0;
    
}
.footer a {
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    cursor: pointer;
}

.footer a:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer span {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    text-align: right;
}