.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: rgb(176, 245, 230);
  margin-bottom: 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4e7959;
}

.cardContainer {
  position: relative;
  width: fit-content;
  font-size: 20px;
}

.cardNumber {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: lightgrey;
  font-size: 14px;
  font-weight: bold;
}