h2,
ul,
ol,
span,
p {
margin: 0;
padding: 0;
}

body {
    width: 1920px;
    font-family: 'Gilam';
    color: #FFFFFF;
    font-weight: 700;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

.all-wrapper {
    background-color: #171717;
    padding-bottom: 190px;
}

.conteiner-about-us {
    margin: 0 auto;
    padding: 0 230px 240px 230px;
}

.logo-link,
.title-projects {
    display: flex;
    justify-content: space-between;
}

.title-logo {
    padding: 46px 0 10px 0;
}

.title-link {
    display: inline-block;
    margin-top: 37px;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    color: #E4B564;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.title {
    font-size: 50px;
    line-height: 28px;
    text-align: Left;
    padding-top: 120px;
}

.title-description {
    padding: 40px 0;
    width: 1180px;
    Font-size: 20px;
    Line-height: 28px;
    text-align: Left;
}

.typse-work {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
}

.typse-work-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
}

.typse-work-item-1 {
    grid-column: 1 / 3;
    background-color: #634F2C;
}

.typse-work-item-2 {
    grid-column: 3 / 5;
    background-color: #B4A385;
    text-align: center;
}

.typse-work-item-3 {
    grid-column: 5 / 7;
    background-color: #E4B564;
}

.typse-work-item-4 {
    grid-column: 1 / 4;
    background-color: #635A4A;
}

.typse-work-item-5 {
    grid-column: 4 / 7;
    background-color: #B08C4D;
}

.title-2 {
    padding: 160px 0 94px 0;
}

.typse-techniks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 55px);
    row-gap: 30px;
    column-gap: 25px;
}

.typse-techniks-item {
    padding: 44px 0 0 48px;
    font-size: 20px;
    line-height: 28px;
}

.text-normal {
    font-weight: 400;
}

.typse-techniks-item-3,
.typse-techniks-item-4,
.typse-techniks-item-5,
.typse-techniks-item-6 {
    font-weight: 500;

}


.typse-techniks-item-1 {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    background-color: #0E0E0E;
}

.typse-techniks-item-2 {
    grid-row: 1 / 7;
    grid-column: 2 / 3;
    background-color: #242424;
}

.typse-techniks-item-3 {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    background-color: #1F1F1F;
}

.typse-techniks-item-4 {
    grid-row: 5 / 12;
    grid-column: 1 / 2;
    background-color: #1F1F1F;
}

.typse-techniks-item-5 {
    grid-row: 7 / 12;
    grid-column: 2 / 3;
    background-color: #E4B564;
    color: #000000;
}

.typse-techniks-item-6 {
    grid-row: 4 / 8;
    grid-column: 3 / 4;
    background-color: #0E0E0E;
}

.typse-techniks-item-7 {
    grid-row: 8 / 12;
    grid-column: 3 / 4;
    background-color: #0A0909;
}

.conteiner-projects {
    background-color: #0E0E0E;
    margin: 0 auto;
    padding: 0 230px;
}

.title-klients {
    padding-top: 170px;
}

.title-link-klients {
    margin-top: 161px;

}

.title-projects {
    padding-bottom: 61px;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
}

.projet-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.projet-item-1,
.projet-item-6 {
    background-color: #634F2C;
}

.projet-item-2 {
    background-color: rgba(232, 210, 171, 0.76);
    flex-direction: column;
    text-align: center;
    Font-size: 22px;
    line-height: 28px;
}

.projet-item-2-font {
    font-weight: 600;
}

.projet-item-3 {
    background-color: #E4B564;
}

.projet-item-4 {
    background-color: #635A4A;
}

.projet-item-5 {
    background-color: #B08C4D;
}