.form {
  width: 700px;
  background-color: lightcyan;
  margin-bottom: 20px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 20px;
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
}
