body {
    width: 1200px;
    margin: 0 auto;

}

.table {
    box-sizing: border-box;
    width: 1192px;
    height: 196px;
    border-top: 22px solid #3A4965;
    border-right: 29px solid #3A4965;
    border-bottom: 32px solid #3A4965;
    border-left: 22px solid #3A4965;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    border-collapse: collapse;
}

.table-head {
    background-color: #FAFAFA;
}

.table-head-colmn {
    box-sizing: border-box;
    font-weight: 700;
    vertical-align: middle;
}

.table-head-row-1-colmn-1 {
    width: 313px;
    font-size: 18px;
    line-height: 28px;
    padding-top: 51px;
    padding-bottom: 48px;
}

.table-head-row-1-colmn-1 span {
    font-size: 30px;
    line-height: 28px;
}

.table-head-row-1-colmn-2,
.table-head-row-1-colmn-3,
.table-head-row-1-colmn-4 {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding-top: 27px;
    padding-bottom: 18px;
}

.table-head-row-1-colmn-3 {
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 21px;
}

.table-head-row-1-colmn-2 {
    background-color: #89C331;
}

.table-head-row-1-colmn-3 {
    background-color: #F04A56;
}

.table-head-row-1-colmn-4 {
    background-color: #20807C;
}

.table-head-row-2-colmn {
    padding-top: 27px;
    padding-bottom: 10px;
    border-left: 2px solid lightgrey;
}

.coast {
    font-size: 60px;
    line-height: 28px;
    position: relative;
}

.coast-time {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    vertical-align: top;
}

.coast::after {
    content: ".99";
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: -5px;
}

.table-body tr>td {
    padding: 22px 0;
    font-size: 16px;
    line-height: 16px;
    border-left: 2px solid lightgrey;
}

i {
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}

.grey {
    background-color: #E3E3E3;
}

tfoot>tr td {
    padding-top: 30px;
    padding-bottom: 27px;
    border-left: 2px solid lightgrey;
}

.btn {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    font-family: inherit;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 18px 58px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-us {
    background-color: #DDDDDD;
}

.btn-first {
    background-color: #484848;
    padding: 18px 45px;
}

.btn-second {
    background-color: #89C331;
}

.btn-third {
    background-color: #F04A56;
}

.btn-fourth {
    background-color: #20807C;
}

/* -----------------------table 2------------------------ */
.table-2 {
    box-sizing: border-box;
    width: 1197px;
    height: 660px;
    margin-top: 50px;
    border-left: 27px solid #3A4965;
    border-right: 27px solid #3A4965;
    border-top: 27px solid #3A4965;
    border-bottom: 21px solid #3A4965;
    font-weight: 700;
}


.table-2-head-colomn {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 28px;
    vertical-align: middle;
    color: #484848;
    border-bottom: 10px solid #3A4965;
    padding-top: 27px;
    padding-bottom: 31px;
}

.table-2-head-colomn i {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}

.table-2-head-colomn-1 span {
    font-size: 14px;
}

.body-table-2-first-colomn {
    display: flex;
    flex-direction: column;
    padding: 24px 0 24px 0;
    row-gap: 10px;
    color: white;
}

.body-table-2 tr:not(:last-child) {
    border-bottom: 2px solid lightgray;
} 


.body-table-2-first-colomn:first-child {
    font-size: 24px;
}

.body-table-2-first-colomn span>.coast {
    font-size: 36px;
    line-height: 28px;
}

.body-table-2-first-colomn span>.coast::after {
    font-size: 18px;
    top: -3px;
}

.body-table-2-first-colomn span>.coast-time {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 20px;
    vertical-align: middle;
}

.btn-table-2 {
    border: none;
    background-color: #414141;
    padding: 16px 0;
    width: 147px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 5px 3px 3px #343434;
    cursor: pointer;

}

.body-table-2-first-colomn-row-1 {
    background-color: #89C331;
}

.body-table-2-first-colomn-row-2 {
    background-color: #F04A56;
}

.body-table-2-first-colomn-row-3 {
    background-color: #20807C;
}

.body-table-2 tr>td:not(:first-child) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    vertical-align: middle;
}