.App {
  text-align: center;

}

.root {
  width: 100%;
  font-family: sans-serif;

  section {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
  }

  h1, h2 {
    text-align: center;
  }

  button {
    width: fit-content;
    box-sizing: border-box;
    padding: 4px 10px;
    filter: brightness(.9);
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;

    &:hover {
      filter: brightness(1);
    }
  }
}

.content {
  display: flex;
  justify-content: center;

  & + div:first-of-type {
    flex: 1;
  }

  & + div:last-of-type {
    flex: 1;
  }
}

