.card {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    position: relative;
    padding: 20px 50px;
    
}

.mail {
    color: grey;
}

.title {
    font-weight: normal;
    color: gray;
}

.btn__del {

    position: absolute;
    background-color: grey;
    top: 20px;
    right: 50px;
    
}


