.rootViewCards {
  width: fit-content;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(15, 64, 43);
  position: relative;

  &:hover {
    box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.34);
  }

  p {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }

  img {
    margin-top: 15px;
    height: 300px;
  }

  span {
    font-size: 14px;
    color: grey;
  }
}

.rootViewList {
  width: 75vw;
  box-sizing: border-box;
  padding: 12px 50px 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid rgb(15, 64, 43);
  position: relative;

  &:hover {
    box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.34);
  }

  p {
    font-size: 18px;
    font-weight: bold;
    min-width: 150px;
    text-align: left;
    align-self: center;
  }

  img {
    margin-top: 15px;
    width: 100px;
    height: 100px;
  }

  span {
    font-size: 18px;
    color: grey;
    align-self: center;
  }
  button{
    align-self: center;
  }
}

.favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  user-select: none;

  svg path {
    fill: rgb(112, 218, 142);
  }

  &.remove {
    svg path {
      fill: rgb(216, 17, 17);
    }
  }
}
