.root {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  background: yellow;
  border-radius: 12px;

  h2 {
    margin-bottom: 20px;
  }
  p{
    margin-left: 10px;
    margin-top: 10px;
  }
}

.cards {
  width: 200px;
  display: flex;
  flex-direction: column;
}