.root {
  width: 100%;

  h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 34px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}