.root {
  width: fit-content;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(15, 64, 43);
  position: relative;

  &:hover {
    box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.34);
  }

  p {
    font-size: 18px;
    width: 100%;
    text-align: center;

  }

  img {
    margin-top: 15px;
    height: 300px;
  }

  span {
    margin-top: 10px;
    font-size: 20px;
    color: grey;
  }
}

.favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  user-select: none;

  svg path {
    fill: rgb(112, 218, 142);
  }

  &.remove {
    svg path {
      fill:  rgb(216, 17, 17);
    }
  }
}