.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: rgb(176, 245, 230);
  margin-bottom: 50px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #4e7959;
}

.iconWrapper {
  display: flex;
  gap: 30px;
}

.iconContainer {

  position: relative;
  width: fit-content;
  font-size: 20px;

  & svg {
    width: 45px;
    height: 45px;
  }
}

.iconNumber,
.iconNumberFavourite {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: rgb(176, 245, 230);
  font-size: 14px;
  font-weight: bold;
}
.iconNumberFavourite {
  top: 15px;
  right: 16px;
  color: red;
}

.link {
  text-decoration: none;
  font-size: 25px;
  color: grey;

  &.active {
      cursor: default;
      opacity: .3;
  }
}

.buttonChange {
  background-color: rgb(116, 232, 98);
  color:white;
  border-radius: 50%;
  border: 1px solid grey;
  padding: 5px;
  font-size: 14px;
}