body {
    width: 1200px;
    margin: 0 auto;

}

.table {
    box-sizing: border-box;
    width: 1192px;
    height: 196px;
    border-top: 22px solid #3A4965;
    border-right: 29px solid #3A4965;
    border-bottom: 32px solid #3A4965;
    border-left: 22px solid #3A4965;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    border-collapse: collapse;
}
/* .table-clicked {
    color: rgb(20, 238, 13);
    border-color: #0e1024;

} */
.table-head {
    background-color: #FAFAFA;
}

.table-head-colmn {
    box-sizing: border-box;
    font-weight: 700;
    vertical-align: middle;
}

/* .table-head-colmn-clicked {
    background-color: #848484;
} */

.table-head-row-1-colmn-1 {
    width: 313px;
    font-size: 18px;
    line-height: 28px;
    padding-top: 51px;
    padding-bottom: 48px;
}

.table-head-row-1-colmn-1 span {
    font-size: 30px;
    line-height: 28px;
}

.table-head-row-1-colmn-2,
.table-head-row-1-colmn-3,
.table-head-row-1-colmn-4 {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding-top: 27px;
    padding-bottom: 18px;
}

.table-head-row-1-colmn-3 {
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 21px;
}

.table-head-row-1-colmn-2 {
    background-color: #89C331;
}

.table-head-row-1-colmn-3 {
    background-color: #F04A56;
}

.table-head-row-1-colmn-4 {
    background-color: #20807C;
}

.table-head-row-2-colmn {
    padding-top: 27px;
    padding-bottom: 10px;
    border-left: 2px solid lightgrey;
}

.coast {
    font-size: 60px;
    line-height: 28px;
    position: relative;
}

.coast-time {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    vertical-align: top;
}

.coast::after {
    content: ".99";
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: -5px;
}

.table-body tr>td {
    padding: 22px 0;
    font-size: 16px;
    line-height: 16px;
    border-left: 2px solid lightgrey;
}

i {
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}

/* .i-clicked {
    color: #f56624;
} */

.grey {
    background-color: #E3E3E3;
}

/* .grey-clicked {
    background-color: #6d5e5e;
} */

/* .white-clicked {
    background-color: #1d48a3;
} */



tfoot>tr td {
    padding-top: 30px;
    padding-bottom: 27px;
    border-left: 2px solid lightgrey;
}

.btn {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    font-family: inherit;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 18px 58px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}



.contact-us {
    background-color: #DDDDDD;
}

.btn-first {
    background-color: #484848;
    padding: 18px 45px;
}

.btn-second {
    background-color: #89C331;
}

.btn-third {
    background-color: #F04A56;
}

.btn-fourth {
    background-color: #20807C;
}

/* .btn-clicked {
    color:rgb(226, 213, 33)
} */




.btn-chenge-style {
    width: 300px;
    height: 100px;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    border-radius: 15px;
    margin: 50px 35%;
    background-color: #89C331;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
   
}
